/* list styles added */

ol, ul {
	margin-left: 50px;
	}

ol ol {
	margin-left: 20px;
	}

div > ol {
	padding-bottom: 20px;
	}
	/* greater-than sign limits this to only an ol that is 
	directly descended from a div. 
	take out the > and you'll see a big change 
	*/

li {
	line-height: 1.4em;
	padding-bottom: 5px;
	}

/* add to or override base.css */

#wrapper {
	padding-top: 20px;
	}

button {
	display: block;
	margin: 20px 0;
	cursor: pointer;
	}

button:focus {
	outline: 2px solid #94bdd1;
	}

